body {
    font-family: 'Roboto Mono', monospace;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'Rubik', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.so-fancy {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.so-fancy:hover {
    background-color: #dedede;
    padding-left: 20px;
}