body {
    font-family: 'Open Sans', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    color: #528bff;
    text-decoration: none;
}

#header a {
    color: #000;
}

.so-fancy {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.so-fancy:hover {
    background-color: #dedede;
    padding-left: 20px;
}

.btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    line-height: 1.125rem;
    padding: .5rem .5rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent;
}

.item a {
    color: #000;
}
