<footer id="footer" class="flex mt3 mb3 items-center">
    <p class="m0 flex-auto muted">
        © 2016 {{ .Site.Params.author }} | All Rights Reserved
    </p>
    <section id="social-urls" class="flex items-center">
        <a target="_blank" class="p1 muted btn" href="{{ .Site.Params.twitter }}" title="Twitter">
            <span class="h3 typcn typcn-social-twitter"></span>
        </a>

        <a target="_blank" class="p1 muted btn" href="mailto:{{ .Site.Params.email }}?Subject=Found%20Your%20Website..." title="Email">
            <span class="h3 typcn typcn-mail"></span>
        </a>
        <a target="_blank" class="p1 muted btn" href="{{ .Site.BaseURL}}index.xml" title="RSS">
            <span class="h3 typcn typcn-rss"></span>
        </a>
    </section>
</footer>
