<footer id="footer" class="flex mt3 mb3 items-center">
    <p class="m0 flex-auto muted">
        <span>Made with</span>
        <span class="h3 typcn typcn-heart"></span>
        <span>by <a href="https://goose.ninja/" target="_blank">Goose Ninja</a></span>
    </p>

    <section id="social-urls" class="flex items-center mr2">
        <a target="_blank" class="p1 muted btn" href="{{ .Site.Params.source_code }}" title="Source Code">
            <span class="h3 typcn typcn-code"></span>
        </a>

        <a target="_blank" class="p1 muted btn" href="{{ .Site.Params.twitter }}" title="Twitter">
            <span class="h3 typcn typcn-social-twitter"></span>
        </a>
        <a target="_blank" class="p1 muted btn" href="mailto:{{ .Site.Params.email }}?Subject=Found%20Your%20Website..." title="Email">
            <span class="h3 typcn typcn-mail"></span>
        </a>
        <a target="_blank" class="p1 muted btn" href="{{ .Site.BaseURL}}index.xml" title="RSS">
            <span class="h3 typcn typcn-rss"></span>
        </a>

        <a target="_blank" class="p1 muted btn" href="https://gamedev.fyi/" title="Home">
            <span class="h3 typcn typcn-home"></span>
        </a>
    </section>
    <a href="https://www.netlify.com">
        <img src="https://www.netlify.com/img/global/badges/netlify-light.svg"/>
    </a>
</footer>
