<footer id="footer" class="flex mt3 mb3 items-center">
    <p class="m0 flex-auto muted">
        © 2016 {{ .Site.Params.author }} | All Rights Reserved
    </p>
    <section id="social-urls" class="flex items-center">
        <a target="_blank" class="p1 muted btn h4" href="{{ .Site.Params.twitter }}" title="Twitter">
            <span class="socicon socicon-twitter"></span>
        </a>
        <a target="_blank" class="p1 muted btn h4" href="{{ .Site.Params.github }}" title="Github">
            <span class="socicon socicon-github"></span>
        </a>
        <a target="_blank" class="p1 muted btn h4" href="{{ .Site.Params.linkedin }}" title="Linkedin">
            <span class="socicon socicon-linkedin"></span>
        </a>
        <a target="_blank" class="p1 muted btn h4" href="mailto:{{ .Site.Params.email }}?Subject=Found%20Your%20Website..." title="Email">
            <span class="socicon socicon-mail"></span>
        </a>
        <a target="_blank" class="p1 muted btn h4" href="{{ .Site.BaseURL}}index.xml" title="RSS">
            <span class="socicon socicon-rss"></span>
        </a>
    </section>
</footer>