{{ define "main" }}

<h2 class="m0">{{ .Title }}</h2>

{{.Content}}

<section class="flex flex-column mt2">
  {{ range (.Data.Pages.GroupByParam "cat") }}

  <span class="border-bottom my1 h3">{{ .Key }}</span>
  {{ range .Pages }}
  <article class="my1">
    <a href="{{ .Permalink }}">{{ .Title }}</a>

    {{ if .Params.tags }}
    <span class="post-meta">
      {{ range .Params.tags }}
        #<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
      {{ end }}
    </span> {{ end }}

  </article>
  {{ end }} {{ end }}

</section>
{{ end }}