{{ define "main" }}

{{ $companies := (where .Data.Pages ".Params.active" true) }}

<h2 class="m0">{{ .Title }} ({{ len $companies }})</h2>

{{ .Content }}

<section class="flex flex-column mt2">
  {{ range ($companies.GroupByParam "location") }}

  <span class="border-bottom my1 h3">{{ .Key }} ({{ len .Pages }})</span>
  {{ range .Pages.ByTitle }}
  <article class="py1 so-fancy item">
    <a class="block" href="{{ .Params.site_link }}" target="_blank">
      <span class="h4 bold">{{ .Title }}</span>      
      <span>({{ dateFormat "2006" .Params.active_from }})</span>
      <p class="m0">{{ .Description }}</p>
    </a>

    {{ if .Params.tags }}
    <span class="post-meta">
      {{ range .Params.tags }}
        #<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
      {{ end }}
    </span> {{ end }}

  </article>
  {{ end }} {{ end }}

</section>
{{ end }}
