{{ define "main" }}

<h2 class="m0">{{ .Title }}</h2>

{{.Content}}

<section class="flex flex-column mt2">
	<form name="contact" action="suggestion" netlify>
		<div class="hide"><label>Bot field: <input name="bot-field"></label></div>
		<div class="mb1">
			<label class="block">Your Name:</label>
			<input type="text" name="name">
		</div>

		<div class="mb1">
			<label class="block">Your Email:</label>
			<input type="email" name="email">
		</div>

		<div class="mb1">
			<label class="block">Subject:</label>
			<select name="Subject"> <!--Supplement an id here instead of using 'name'-->
				<option value="company">Company suggestion</option> 
				<option value="individual">Individual Suggestion</option>
				<option value="game">Game Suggestion</option>
				<option value="other">Other</option>
			</select>
		</div>
		
		<div class="mb1">
			<label class="block">Message:</label>
			<textarea name="message" id="" cols="30" rows="10"></textarea>
		</div>

		<div>
			<button>Send</button>
		</div>
	</form>
</section>
{{ end }}
