{{ define "main" }}

<h2 class="m0">{{ .Title }}</h2>

{{.Content}}

<section class="flex flex-column mt2">
  {{ range (.Data.Pages.GroupByParam "cat") }}

  <span class="border-bottom my1 h3">{{ .Key }}</span>
  {{ range .Pages.ByTitle }}
  <article class="py1">

    <span class="h4 bold">{{ .Title }}</span>
    <p class="m0">{{ .Description }}</p>

    <ul class="list-reset m0">

      <li class="inline-block mr1 item">

        <a target="_blank" href="{{ .Params.site_link }}" title="Website">
            <span class="h3 typcn typcn-home-outline"></span>
        </a>

        {{ if .Params.twitter_link }}
        <a target="_blank" href="{{ .Params.twitter_link }}" title="Twitter">
            <span class="h3 typcn typcn-social-twitter"></span>
        </a>
        {{ end }}

        {{ if .Params.facebook_link }}
        <a target="_blank" href="{{ .Params.facebook_link }}" title="Facebook">
            <span class="h3 typcn typcn-social-facebook"></span>
        </a>
        {{ end }}


      </li>

    </ul>

    {{ if .Params.tags }}
    <span class="post-meta">
      {{ range .Params.tags }}
        #<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
      {{ end }}
    </span> {{ end }}

  </article>
  {{ end }} {{ end }}

</section>
{{ end }}
